@font-face {
  font-family: 'Caviar Dreams Bold';
  src: url('../fonts/CaviarDreams-Bold.eot');
  src: url('../fonts/CaviarDreams-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/CaviarDreams-Bold.woff') format('woff'),
  url('../fonts/CaviarDreams-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$brand: 'Caviar Dreams Bold', sans-serif;
$caption: 'Lora', serif;
$main: 'Montserrat', sans-serif;

/*
.box-name {font-family: 'Caviar Dreams Bold';}*/


